@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-100 font-sans selection:bg-rose-500 selection:text-white overflow-hidden;
    user-select: none;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #171717;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

/* Range input styling */
input[type="range"] {
  accent-color: #f43f5e;
}

